.list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1em;
}

.item,
.prev,
.next,
.break {
  margin-left: 1em;
  margin-right: 1em;
  list-style-type: none;
  user-select: none;
}

.active > a,
.disabled > a {
  cursor: default;
  pointer-events: none;
  color: var(--grey);
}
