{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react",
    "react-hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-key": "error",
    "react/jsx-props-no-spreading": "off"
  }
}
