{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "settings": {
    "react": {
      "version": "detected"
    }
  },
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-key": "error"
  }
}
