.player {
  border: none;
  margin: 0;
  padding: 0;
  height: 60px;
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.button {
  background-color: transparent;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-light);
  color: var(--primary-light);
  border-radius: 100px;
  margin-right: 8px;
  outline: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  transition: all .1s ease-in;
}

.button:focus {
  box-shadow: 0 0 0 3px var(--secondary);
}

.button:hover {
  background-color: var(--primary-light);
  color: #FFF;
}

.progress {
  width: 100%;
  height: 6px;
  background-color: var(--grey-light);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
}

.passed {
  width: 0;
  height: 6px;
  background-color: var(--primary-light);
  border-radius: 10px;
}

.muted {
  display: flex;
  align-items: center;
}

.volume {
  appearance: none;
  height: 10px;
  line-height: 45px;
  background-color: transparent;
  cursor: pointer;
  transition: margin 150ms ease, width 150ms ease, opacity 150ms ease;
  max-width: 120px;
}

.volume:focus {
  outline: none;
}

.volume::range-track {
  background-color: var(--grey-light);
  height: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.volume::range-thumb {
  border: 2px solid var(--primary-light);
  height: 17px;
  width: 17px;
  border-radius: 100px;
  background-color: #FFF;
  cursor: pointer;
  appearance: none;
  margin-top: -6px;
}

.duration {
  margin-left: 10px;
  font-weight: bold;
  font-family: monospace;
}

@media (min-width: 768px) {
  .volume {
    width: 0;
    opacity: 0;
  }

  .volume:focus,
  .button:focus + .volume,
  .muted:hover .volume {
    width: 100%;
    opacity: 1;
  }
}
