.header {
  background-color: var(--primary);
  padding: 0 15px;
  height: 100px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  height: 100px;
}

@media (min-width: 768px) {
  .wrapper {
    justify-content: left;
  }
}
